.form-horizontal .has-feedback .form-control-feedback {
    top: 9px;
}

.ace {
	position: relative;
	width: 100%;
	height: 500px;
}

/*.box-body .dataTables_wrapper{
	margin:15px
}*/

table.content-wrap tbody>tr>td{
	word-wrap: break-word;
	white-space: pre-wrap;
}


.fc-event-container{
	cursor: pointer;
}

.editable-click, a.editable-click, a.editable-click:hover{
	border-bottom:none;
}

span.select2{
    width:100%
}

.select2-dropdown{
	z-index:9999
}

[data-format=json] {
	padding: 0.5em 1.5em !important;
}

.dropdown-menu>li:not(.checked)>a>i{
	display:none
}

.select2-dropdown{
	z-index:99995
}

.bootstrap-datetimpicker-widget{
	z-index:99995
}


.dataTable .search-row input{
	padding-left: 1px;
    padding-right: 1px;
    height: 25px!important;
}


.dataTable .search-row select{
	padding: 0px 1px;
    height: 25px;
}

table.dataTable>tbody>tr[role="row"]>td{
    padding: 1px 2px 1px 2px
}


table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before{
	top: 4px;
}

.dataTables_wrapper div.dataTables_length{
	text-align: right;
}

.dataTable .search-row input{
	width:100%;
}

.dataTables_wrapper .dataTables_paginate{
	text-align:left!important;
}

.dataTables_wrapper .dataTables_info{
	text-align:right!important;
}

.dataTables_wrapper .search-row .select2-selection{
	height:25px;
}

