<!DOCTYPE html>
<html lang="{{lang}}" {{development}}>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex, nofollow">
    <base href="{{base}}" />
    <title>{{company}} | {{title}}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <script type="text/javascript">
        if(/MSIE \d|Trident.*rv:/.test(navigator.userAgent))
            document.write('<script src="https:\/\/cdn.polyfill.io\/v2\/polyfill.min.js"><\/script>');
    </script>
  
    <link rel="stylesheet" href="{{system_base}}/dist/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{system_base}}/dist/fullcalendar/fullcalendar.min.css" />
    <link rel="stylesheet" href="{{system_base}}/dist/select2/css/select2.min.css" />
    <link rel="stylesheet" href="{{system_base}}/dist/bootstrap-select/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="{{system_base}}/dist/ionicons/css/ionicons.min.css" />
    <link rel="stylesheet" href="{{system_base}}/dist/pnotify/pnotify.css" />
    <link rel="stylesheet" href="{{system_base}}/dist/datatables/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="{{system_base}}/dist/fancybox/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="{{system_base}}/dist/bootstrap-multiselect/css/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="{{system_base}}/dist/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" href="{{system_base}}/dist/font-awesome/css/all.min.css" />

    <link rel="stylesheet" href="{{system_base}}/plugins/icheck-bootstrap-3.0.1/icheck-bootstrap.min.css" />

    <script src="{{system_base}}/dist/r-webauthn/main.js" defer></script>
    <script src="{{system_base}}/dist/jquery/jquery.min.js"></script>
    <script src="{{system_base}}/plugins/jquery-ui-1.11.4/jquery-ui.min.js"></script>
    <script src="{{system_base}}/dist/main.js"></script>
    <script src="{{system_base}}/dist/layout.js" defer></script>

    <script src="{{system_base}}/dist/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>

    <link rel="stylesheet" href="{{system_base}}/dist/bootstrap3-editable/css/bootstrap-editable.css" />
    <script src="{{system_base}}/dist/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    
    <link rel="stylesheet" href="{{system_base}}/AdminLTE/plugins/iCheck/all.css">

    {% for c in css %}
    <link rel="stylesheet" href="{{c|raw}}">
    {% endfor %}

    {% for js in jquery %}
    <script src="{{js|raw}}"></script>
    {% endfor %}
    {% if firebase %}
    <script src="https://www.gstatic.com/firebasejs/4.12.0/firebase.js" defer></script>
    {% endif %}


    {% for js in vue %}
    <script src="{{js|raw}}"></script>
    {% endfor %}
    
    <script src="{{system_base}}/dist/x-html/x-html.umd.min.js"></script>
    <script src="{{system_base}}/alt-component/dist/alt-component.umd.js"></script>
    {% for js in jss %}
    <script src="{{js|raw}}"></script>
    {% endfor %}

    <script src="{{system_base}}/dist/vue-bs/bs.umd.min.js"></script>
    <link rel="stylesheet" href="{{system_base}}/alt-component/dist/alt-component.css" />

    <script src="{{system_base}}/js/vue-gql.js"></script>
    <script src="{{system_base}}/js/jquery.form-data.js"></script>
    <script src="{{system_base}}/AdminLTE/plugins/iCheck/icheck.min.js"></script>
    
</head>

<body class="hold-transition {{skin}}
{{setting['sidebar-mini']?'sidebar-mini':''}}
{{setting['fixed']?'fixed':''}}
{{setting['sidebar-collapse']?'sidebar-collapse':''}}
">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">
                    {% if logo %}
                    <img src="{{logo}}" style="max-width:150px;max-height:50px" /> {% else %} {{company}} {% endif %}
                </span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu" id="alt-navbar">
                    <ul class="nav navbar-nav">
                        {% verbatim %}
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="far fa-envelope"></i>
                                <span class="label label-success" v-if="messages.length>0" v-text="messages.length"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have {{messages.length}} messages</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li v-for="msg in messages">

                                            <a :href="msg.href">
                                                <div class="pull-left">
                                                    <img width="40" height="40" :src="msg.image" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    {{msg.label}}
                                                    <small>
                                                        <i class="fa fa-clock-o"></i> {{msg.time}}</small>
                                                </h4>
                                                <p>{{msg.description}}</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="Message">See All Messages</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="far fa-bell"></i>
                                <span class="label label-warning" v-if="notifications.length>0" v-text="notifications.length"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have {{notifications.length}} notifications</li>
                                <li>
                                    <ul class="menu">
                                        <li v-for="n in notifications">
                                            <a :href="n.href">
                                                <i :class="n.icon"></i> {{n.label}}</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="#">View all</a>
                                </li>
                            </ul>
                        </li>

                        <!-- Tasks: style can be found in dropdown.less -->
                        <li class="dropdown tasks-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="far fa-flag"></i>
                                <span class="label label-danger" v-if="tasks.length>0" v-text="tasks.length"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have {{tasks.length}} tasks</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li v-for="n in tasks" v-html="n">
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="#">View all tasks</a>
                                </li>
                            </ul>
                        </li>
                        {% endverbatim %}

                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="User/image" class="user-image" alt="User Image">
                                <span class="hidden-xs">{{user.name}}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="User/image" class="img-circle" alt="User Image">

                                    <p>
                                        {{user.name}} - {{user.usergroup}}
                                        <small>Member since {{user.join_date}}</small>
                                    </p>
                                </li>

                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="User/profile" class="btn btn-default btn-flat">{{_('Profile')}}</a>
                                        <a href="User/setting?layout=top-nav" class="btn btn-default btn-flat">Top-nav</a>

                                        {% if allow_viewas %}
                                        <a href="System/viewas" class="btn btn-default btn-flat">View as</a>
                                        {% endif %} {% if allow_cancel_viewas %}
                                        <a href="cancel_viewas" class="btn btn-default btn-flat">Cancel view as</a>
                                        {% endif %}
                                    </div>

                                    <div class="pull-right">
                                        <a href="System/logout" class="btn btn-default btn-flat">{{_('Sign out')}}</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar">
                                <i class="fa fa-cogs"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar" id="_sb">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="User/image" class="img-circle" alt="User Image" style="max-height:45px">
                    </div>
                    <div class="pull-left info">
                        <p>{{user.name}}</p>
                        <a href="#">
                            <i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- search form -->

                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" v-model="q" class="form-control" placeholder="Search...">
                        <!-- span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span -->
                    </div>
                </form>

                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">

                    <li>
                        <a href="">
                            <i class="fa fa-heart"></i>
                            <span>{{ _('Favorite') }}</span>
                        </a>
                        <ul class="treeview-menu">
                            <li class=" ">
                                <a href="javascript:__add_favorite();">
                                    <i class="fa fa-fw fa-plus text-aqua"></i>
                                    <span>add</span>
                                </a>
                            </li>
                            <li class=" ">
                                <a href="User/myfav">
                                    <i class="fa fa-fw fa-heart"></i>
                                    <span>manage</span>
                                </a>
                            </li>

                        </ul>
                    </li>



                    {% for fav in favs%}
                    <li class="fav">
                        <a href="{{fav.link}}">
                            <i class="fa fa-fw {{fav.icon?fav.icon:'fa-link'}} {{fav.color?fav.color:''}}"></i>
                            <span>{{fav.label}}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>

                {% verbatim %}
                <ul class="sidebar-menu">
                    <li class="header">Main navigation</li>
                    <li class="treeview" :class="{active:menu.active}" v-for="menu in menus">
                        <a :href="menu.link" :target="menu.target" style="cursor: pointer;" @click="clickMenu($event,menu)">
                            <i :class="menu.icon"></i>
                            <span v-text="menu.label"></span>
                            <span class="pull-right-container" v-if="menu.submenu">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <alt-sidebar-menu v-if="menu.submenu" :menu="menu"></alt-sidebar-menu>
                    </li>
                </ul>
                {% endverbatim %}
            </section>
            <!-- /.sidebar -->
        </aside>

        <script id="sidebar-menu" type="text/json">{{sidebar_menu|json_encode()|raw}}</script>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            {{custom_header|raw}}

            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    {% if header.icon %}
                    <i class="{{header.icon}}"></i>
                    {% endif %} {{header.name}}
                    <small>{{header.description}}</small>
                </h1>

                {{header.breadcrumb|raw}}

            </section>

            <!-- Main content -->
            <section class="content">

                {% for alert in alerts %}
                <div class="alert alert-{{alert.type}} alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <i class="icon fa {{alert.icon}}"></i> {{alert.message}}
                </div>
                {% endfor %} {% for callout in callouts %}
                <div class="callout callout-{{callout.type}}">
                    {% if callout.title %}
                    <h4>{{callout.title}}</h4>
                    {% endif %} {% if callout.description %}
                    <p>{{callout.description|raw}}</p>
                    {% endif %}
                </div>
                {% endfor %} {{navbar|raw}}

                <!-- Your Page Content Here -->
                {{content|raw}}

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>{{_('Version')}}</b> {{system.version}}
            </div>
            <strong>{{_('Copyright')}} &copy; {{copyright.year}}
                <a href="{{copyright.url}}">{{copyright.name}}</a>
            </strong> {{_('All rights reserved')}}.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-{{sidebar}}">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li>
                    <a href="#control-sidebar-home-tab" data-toggle="tab">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li class='active'>
                    <a href="#control-sidebar-settings-tab" data-toggle="tab">
                        <i class="fa fa-cogs"></i>
                    </a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane" id="control-sidebar-home-tab">
                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane active" id="control-sidebar-settings-tab">

                    <form method="post">
                        <h3 class="control-sidebar-heading">{{_('General settings')}}</h3>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                <input type="checkbox" data-layout="fixed" class="pull-right"> Fixed layout</label>
                            <p>Activate the fixed layout.</p>
                        </div>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                <input type="checkbox" data-layout="sidebar-collapse" class="pull-right"> Toggle
                                Sidebar</label>
                            <p>Toggle the left sidebar's state (open or collapse)</p>
                        </div>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                <input type="checkbox" data-enable="expandOnHover" class="pull-right"> Sidebar Expand
                                on Hover</label>
                            <p>Let the sidebar mini expand on hover</p>
                        </div>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                <input type="checkbox" data-layout="sidebar-mini" class="pull-right"> Sidebar Minimize</label>
                            <p>Let the sidebar mini expand on hover</p>
                        </div>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                <input type="checkbox" data-controlsidebar="control-sidebar-open" class="pull-right">
                                Toggle Right Sidebar Slide</label>
                            <p>Toggle between slide over content and push content effects</p>
                        </div>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                <input type="checkbox" data-sidebarskin="toggle" class="pull-right"> Toggle Right
                                Sidebar Skin</label>
                            <p>Toggle between dark and light skins for the right sidebar</p>
                        </div>
                    </form>

                    <h4 class="control-sidebar-heading">Skins</h4>
                    <ul class="list-unstyled clearfix" id="app-skin">
                        <li style="float:left; width: 33.33333%; padding: 5px;">
                            <a href="javascript:void(0);" data-skin="skin-blue" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                class="clearfix full-opacity-hover">
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 7px; background: #367fa9;"></span>
                                    <span class="bg-light-blue" style="display:block; width: 80%; float: left; height: 7px;"></span>
                                </div>
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span>
                                    <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                                </div>
                            </a>
                            <p class="text-center no-margin">Blue</p>
                        </li>
                        <li style="float:left; width: 33.33333%; padding: 5px;">
                            <a href="javascript:void(0);" data-skin="skin-black" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                class="clearfix full-opacity-hover">
                                <div style="box-shadow: 0 0 2px rgba(0,0,0,0.1)" class="clearfix">
                                    <span style="display:block; width: 20%; float: left; height: 7px; background: #fefefe;"></span>
                                    <span style="display:block; width: 80%; float: left; height: 7px; background: #fefefe;"></span>
                                </div>
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 20px; background: #222;"></span>
                                    <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                                </div>
                            </a>
                            <p class="text-center no-margin">Black</p>
                        </li>
                        <li style="float:left; width: 33.33333%; padding: 5px;">
                            <a href="javascript:void(0);" data-skin="skin-purple" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                class="clearfix full-opacity-hover">
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 7px;" class="bg-purple-active"></span>
                                    <span class="bg-purple" style="display:block; width: 80%; float: left; height: 7px;"></span>
                                </div>
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span>
                                    <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                                </div>
                            </a>
                            <p class="text-center no-margin">Purple</p>
                        </li>
                        <li style="float:left; width: 33.33333%; padding: 5px;">
                            <a href="javascript:void(0);" data-skin="skin-green" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                class="clearfix full-opacity-hover">
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 7px;" class="bg-green-active"></span>
                                    <span class="bg-green" style="display:block; width: 80%; float: left; height: 7px;"></span>
                                </div>
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span>
                                    <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                                </div>
                            </a>
                            <p class="text-center no-margin">Green</p>
                        </li>
                        <li style="float:left; width: 33.33333%; padding: 5px;">
                            <a href="javascript:void(0);" data-skin="skin-red" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                class="clearfix full-opacity-hover">
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 7px;" class="bg-red-active"></span>
                                    <span class="bg-red" style="display:block; width: 80%; float: left; height: 7px;"></span>
                                </div>
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span>
                                    <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                                </div>
                            </a>
                            <p class="text-center no-margin">Red</p>
                        </li>
                        <li style="float:left; width: 33.33333%; padding: 5px;">
                            <a href="javascript:void(0);" data-skin="skin-yellow" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                class="clearfix full-opacity-hover">
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 7px;" class="bg-yellow-active"></span>
                                    <span class="bg-yellow" style="display:block; width: 80%; float: left; height: 7px;"></span>
                                </div>
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span>
                                    <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                                </div>
                            </a>
                            <p class="text-center no-margin">Yellow</p>
                        </li>
                        <li style="float:left; width: 33.33333%; padding: 5px;">
                            <a href="javascript:void(0);" data-skin="skin-blue-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                class="clearfix full-opacity-hover">
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 7px; background: #367fa9;"></span>
                                    <span class="bg-light-blue" style="display:block; width: 80%; float: left; height: 7px;"></span>
                                </div>
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span>
                                    <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                                </div>
                            </a>
                            <p class="text-center no-margin" style="font-size: 12px">Blue Light</p>
                        </li>
                        <li style="float:left; width: 33.33333%; padding: 5px;">
                            <a href="javascript:void(0);" data-skin="skin-black-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                class="clearfix full-opacity-hover">
                                <div style="box-shadow: 0 0 2px rgba(0,0,0,0.1)" class="clearfix">
                                    <span style="display:block; width: 20%; float: left; height: 7px; background: #fefefe;"></span>
                                    <span style="display:block; width: 80%; float: left; height: 7px; background: #fefefe;"></span>
                                </div>
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span>
                                    <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                                </div>
                            </a>
                            <p class="text-center no-margin" style="font-size: 12px">Black Light</p>
                        </li>
                        <li style="float:left; width: 33.33333%; padding: 5px;">
                            <a href="javascript:void(0);" data-skin="skin-purple-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                class="clearfix full-opacity-hover">
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 7px;" class="bg-purple-active"></span>
                                    <span class="bg-purple" style="display:block; width: 80%; float: left; height: 7px;"></span>
                                </div>
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span>
                                    <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                                </div>
                            </a>
                            <p class="text-center no-margin" style="font-size: 12px">Purple Light</p>
                        </li>
                        <li style="float:left; width: 33.33333%; padding: 5px;">
                            <a href="javascript:void(0);" data-skin="skin-green-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                class="clearfix full-opacity-hover">
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 7px;" class="bg-green-active"></span>
                                    <span class="bg-green" style="display:block; width: 80%; float: left; height: 7px;"></span>
                                </div>
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span>
                                    <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                                </div>
                            </a>
                            <p class="text-center no-margin" style="font-size: 12px">Green Light</p>
                        </li>
                        <li style="float:left; width: 33.33333%; padding: 5px;">
                            <a href="javascript:void(0);" data-skin="skin-red-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                class="clearfix full-opacity-hover">
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 7px;" class="bg-red-active"></span>
                                    <span class="bg-red" style="display:block; width: 80%; float: left; height: 7px;"></span>
                                </div>
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span>
                                    <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                                </div>
                            </a>
                            <p class="text-center no-margin" style="font-size: 12px">Red Light</p>
                        </li>
                        <li style="float:left; width: 33.33333%; padding: 5px;">
                            <a href="javascript:void(0);" data-skin="skin-yellow-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                class="clearfix full-opacity-hover">
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 7px;" class="bg-yellow-active"></span>
                                    <span class="bg-yellow" style="display:block; width: 80%; float: left; height: 7px;"></span>
                                </div>
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span>
                                    <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                                </div>
                            </a>
                            <p class="text-center no-margin" style="font-size: 12px;">Yellow Light</p>
                        </li>

                        {% for skin in custom_skin %}
                        <li style="float:left; width: 33.33333%; padding: 5px;">
                            <a href="javascript:void(0);" data-skin="{{skin.name}}" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                class="clearfix full-opacity-hover">{{skin.icon}}</a>
                            <p class="text-center no-margin" style="font-size:{{skin.font-size}}">{{skin.name}}</p>
                        </li>
                        {% endfor %}

                        <h4 class="control-sidebar-heading">{{_('Language')}}</h4>
                        <select class="form-control" id="_language_selection" onChange="window.self.location='User/setting?language='+this.value">
                            {% for key,language in languages %}
                            <option value="{{key}}" {{(user.language==key)? 'selected': ''}}>{{language}}</option>
                            {% endfor %}
                        </select>

                    </ul>

                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->



    {% for src in script %}
    <script src="{{src|raw}}"></script>
    {% endfor %}

</body>

</html>