<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex, nofollow">
    <title>{{company}} | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="{{system_base}}/dist/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{system_base}}/dist/font-awesome/css/all.min.css" />


    {% for js in vue.setting.js %}
    <script src="{{vue.base}}/{{js|raw}}"></script>
    {% endfor %}

    <script src="{{system_base}}/dist/main.js"></script>
    <script src="{{system_base}}/dist/login.js" defer></script>
    <script src="{{system_base}}/dist/r-webauthn/main.js" defer></script>
    <script src="{{system_base}}/js/vue-gql.js"></script>
    <script src="{{system_base}}/js/jquery.form-data.js"></script>

    {% for c in css %}
    <link rel="stylesheet" href="{{c|raw}}">
    {% endfor %}

    {% for src in script %}
    <script src="{{src|raw}}"></script>
    {% endfor %}

</head>

<body class="hold-transition login-page">
    <div class="login-box" id="app">
        <input type='hidden' value="{{r}}" ref="redirect" />

        <div class="login-logo">
            <a href="">
                {% if logo %}
                <img src="{{logo}}" />
                {% else %}
                <b>{{company}}</b>
                {% endif %}

            </a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">

            <p class="login-box-msg" v-text="message" :class="{'text-red':error}"></p>

            <form>
                <div class="form-group has-feedback">
                    <input type="username" class="form-control" placeholder="Username" name="username" v-model="username" required>
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Password" name="password" v-model="password" required>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>

                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox" ref="rememberMe"> Remember Me
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat" @click.prevent="signIn">Sign
                            In</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>


            <!-- /.social-auth-links -->

            <a href="#" @click.prevent="forgetPassword">I forgot my password</a><br>
            <span>{{version}}</span>

        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->


    <template id="forget_dialog">
        <form>
            <div class="form-group">
                <label>Username</label>
                <input class="form-control" type="text" name="username" required />
            </div>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="email" name="email" required />
            </div>
            <div>
                <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Submit</button>
            </div>
        </form>
    </template>
</body>

</html>