<div class="box box-primary">
    <div class="box-body no-padding">
        <div id="calendar"></div>
    </div>
</div>

<link rel="stylesheet" href="/composer/vendor/mathsgod/hl-weather/css/weather-icons.min.css">


{% verbatim %}
<script>
$(function(){
	$("#calendar").fullCalendar({
        eventOrder:"priority",
		eventSources:new function(){
			var es=[];
            es.push({url:'Dashboard/holiday'});
            es.push({url:'Dashboard/weather'});
			return es;
        },
        eventRender: function( event, element, view ) {
            if(event.textEscape){
                var title = element.find('.fc-title, .fc-list-item-title');          
                title.html(title.text());
            }
        }

	});
});
</script>
{% endverbatim %}